google-chrome
QQ
Code
pulse
go
.config/bashrc
.config/cef_user_data
.config/chromium-flags.conf
.config/edge-flags.conf
.config/fcitx
.config/fcitx5
.config/github-copilot
.config/gtk-3.0
.config/gtk-4.0
.config/ibus
.config/kingsoft
.config/Kingsoft
.config/libreoffice
.config/matplotlib
.config/matugen
.config/mimeapps.list
.config/mpv
.config/nwg-dock-hyprland
.config/pavucontrol.ini
.config/procps
.config/qt6ct
.config/QtProject.conf
.config/spotify
.config/vim
.config/vscode-sqltools
.config/wallust
.config/xfce4
.config/xsettingsd
